.custom-header,
.single-featured-image-header {
  margin-bottom: $global-margin;
}

.sticky-post {
  display: block;
}

.hentry {
  margin: rem-calc(0 0 60);
  word-wrap: break-word;

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: rem-calc(5);
    border-radius: 100%;
  }
}

.entry-header {
  margin-bottom: rem-calc(20);

  @include breakpoint(medium up) {
    margin-bottom: rem-calc(80);
  }
}

h1.entry-title {
  font-size: rem-calc(38);
  font-weight: 300;
}

h2.entry-title {
  font-size: rem-calc(32);
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;

  h2,
  h3 {
    padding-top: rem-calc(60);

    &:first-child {
      padding-top: 0;
    }
  }

  h2 {
    font-size: rem-calc(28);
  }

  h3 {
    font-size: rem-calc(21);
  }

  h4 {
    padding-top: rem-calc(30);
    font-size: rem-calc(18);
    font-weight: 600;
    text-transform: uppercase;

    &:first-child {
      padding-top: 0;
    }
  }

  @include breakpoint(medium up) {
    font-size: rem-calc(18);
    line-height: 1.8;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1.5rem;
}

.edit-link {
  display: block;

  .post-edit-link {
    @include button(
      $background: $secondary-color,
      $background-hover: scale-color($secondary-color, $lightness: -15%),
      $color: $body-font-color
    );
    font-size: 0.6rem;
  }
}
